<%- include('header')-%>

<li id="contact"><a href="#"><%= pageName%></a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">

        <h3>The Results of the polls are:</h3>
        <ul>
            <li><%= op1%> - <%= v1%></li>
            <li><%= op2%> - <%= v2%></li>
            <li><%= op3%> - <%= v3%></li>
        </ul>



<%- include('footer')-%>